html {
    font-size: 100%;
}

body {
    background-color: black;
    color: white;
}

h1 {
    font-family: "adobe-garamond-pro", serif;
    font-weight: 600;
    font-style: normal;
    font-size: 150px;
    margin-top: 20%;
}

h2 {
    font-family: "adobe-garamond-pro", serif;
    font-weight: 600;
    font-style: normal;
    font-size: 66px;
    text-align: center;
}

h3 {
    font-family: "adobe-garamond-pro", serif;
    font-weight: 600;
    font-style: normal;
    font-size: 30px;
    text-align: center;
}

h4 {
    font-family: "adobe-garamond-pro", serif;
    font-weight: 600;
    font-style: normal;
    font-size: 20px; 
    border: 2px solid white;
    display: inline; 
    padding: 5px;
}

h5 {
    font-family: "adobe-garamond-pro", serif;
    font-weight: 600;
    font-style: normal;
    font-size: 25px;
    text-align: center;
}

h6 {
    font-family: "adobe-garamond-pro", serif;
    font-weight: 600;
    font-style: normal;
    font-size: 23px;
    text-align: center;
}

.center {
    display: block;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    max-width: 50%;
    z-index: 1;
  }

#lobby {
    cursor: url("../img/mapguy.png"), auto;
    text-align: center;
    width: 100%;
    height: 100vh;
}

#Welcome {
    text-align: center;
    font-family: "adobe-garamond-pro", serif;
    font-weight: 600;
    font-style: normal;
    font-size: 150px;
    padding-top: 20%;
}

a:link {
    text-decoration: none;
  }  
a {
    color: white;
}

#pin {
    position: fixed;
    right: 1px;
    bottom: 10%;
    margin-top: 0%;
    padding-top: 0%;
}

.stack_top {
    z-index: 999;
    position: relative;
    margin-top: 50px;
}
.stack_bottom {
    z-index: 5;
    position: sticky;
}

form {
    left: 40%;
    right: 40%;
    text-align: center;
    position: fixed;
    top: 60%;
    z-index: 998;
}

#icarus {
    position: fixed;
    top: 25%;
    left: 40%;
    max-width: 20%;
}

.flight {
    display: flex;
    justify-content: center;
    column-gap: 20%;
    margin-bottom: 0%;
}
.flight h3 {
    border: 2px solid white;
    padding: 10px;
}

.cutaway {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    width: fit-content;
    margin: auto;
    margin-top: 10%;
}

.cutaway img {
    display: inline-block;
    transform: scale(50%);
}
.cutaway div {
    text-align: center;
    width: 100%;
    margin: 1.5625em;
}

#pink {
    color: #ff9897;
}
#orange {
    color: #ffc228;
}
#purple {
    color: #d393e7;
}

.focus {
    display: flex;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%; 
}
.focus img {
    display: block;
    transform: scale(110%);
}
.focus div {
    text-align: center;
    margin: 25px;
}

